.cart {
	width: 35px;
	height: 35px;
	position: relative;
}

.count {
	position: absolute;
	top: -8px;
	right: -5px;

	display: flex;
	justify-content: center;
	align-items: center;



	width: 20px;
	height: 20px;
	color: #fff;
	background-color: red;
	border-radius: 50%;
}